* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   
    
  
    background:rgb(238, 228, 189);
}

.row:after{
    content: "";
    display: grid;
    clear: both;
    
}
.column{
    float: left;
    
}

.head{
   
    border: 1px red solid;
    position: relative;
}
.img1 img{
    height:45%;
    width: 100%;
    opacity: 0.95;
    padding: 2px;

}
.img2 img{
    width: 150px;
    opacity: 0.75;
    position: absolute;
    bottom:1%;
    left: 1%;
    border-radius: 50%;
}
.nav{
    border: 1px blue solid;
    display: flex;
    flex-direction: row;
    background: ghostwhite;

}
.nav div{
    background: purple;
    margin: 10px 2px;
    padding: 5px;
    border: none;
    border-radius: 4px;
}
.nav a{
    color: white;
    text-decoration: none;
    border-bottom: transparent;
    text-align: center;
    padding: 5px;
}
.column.left{

  border: 1px green solid;
  width: 20%; 
}
.column.main{
    border: 1px crimson solid;
    width: 60%;
}
.column.right{
    width: 20%;
    border: 1px brown solid;
}
.footer{

border: 1px black solid;
}



.nav div:hover{
    background:dodgerblue;
    color: crimson;
}

.nav a:hover {
border-bottom: 3px crimson solid;
}

.left li{
    width: 200px;
    margin: auto;
    background: purple;
    margin-bottom: 2px;
    padding: 5px 0 5px 0;
    list-style: none;
    text-align: center;

}
.left a{
    text-decoration: none;
    color: white;
}